.content {
  padding: 0 1.5rem;
}
.plan-card {
  margin-top: 3rem;
  padding: 2.2rem 1rem;
  background: linear-gradient(93deg, #43172b, #230a25);
  border-radius: 1rem;
  transition: all 0.5s cubic-bezier(0.33, 0, 0, 1);
}
.plan-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(127deg, #661b3e, #280b2a);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}
.plan-card:hover::before {
  opacity: 1;
}
.plan-card:hover {
  transform: scale(1.03);
}

.plan-card > h3 {
  font-size: 1.31rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

.plan-card > p {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}

.description {
  margin-top: 4rem;
  width: 100%;
}

.description > h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

.cards-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1;
  box-sizing: border-box;
  padding: 1.5rem 1rem 5rem 1rem;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(30px);
  flex-direction: column;
  min-width: 100%;
    margin-left: 0;
    min-height: 190px;
    margin-bottom: 0.5rem;
}

.card > h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
}

.card > p {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.92rem;
  font-weight: 400;
  margin-top: 0.5rem;
  width: calc(100% - 0px);
  line-height: 1.4;
}

.svg-wrapper {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 0 2rem;
  }
  .plan-card {
    padding: 2.18rem 3rem;
  }
  .plan-card > h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
  }
  .description > h2 {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .card{
    min-width: 100%;
    margin-left: 0;
    min-height: 176px;
    margin-bottom: 0.5rem;
    padding: 1.5rem 1rem 6rem 1rem;
  }
  .card > h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  
  .card > p {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 960px) {
  .content {
    padding: 0 5rem;
  }
  .plan-card {
    padding: 2.15rem 3rem;
  }
  .plan-card > h3 {
    font-size: 1.8rem;
  }
  .description > h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: 28.5rem 28.5rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .card {
    max-width: 28.5rem;
    margin-left: 0;
    min-height: 230px;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }
  .card > h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  .card > p {
    margin-top: 0.75rem;
  }
  .svg-wrapper {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

@media screen and (min-width: 1090px) {
  .cards-wrapper {
    grid-template-columns: 31.5rem 31.5rem;
  }
  .card{
    max-width: 31.5rem;
  }
}
@media screen and (min-width: 1190px) {
  .cards-wrapper {
    grid-template-columns: 34rem 34rem;
  }
  .card{
    max-width: 34rem;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    padding: 0 9.25rem;
  }
  .plan-card {
    padding: 2.2rem 3rem;
  }
  .plan-card > h3 {
    font-size: 1.85rem;
  }
  .description > h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
 .cards-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
 }
 .card {
  flex: 1;
  min-height: 340px;
  min-width: 230px;
  margin-left: 8px;
  display: flex;
  padding: 1.5rem 1rem 8rem 1rem;
}

.card:first-child {
  margin-left: 0;
}
  .card > h3 {
    font-size: 1.35rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  .card > p {
    margin-top: 1rem;
  }
  .svg-wrapper {
    bottom: 0.6rem;
    right: 0.75rem;
  }
}
 
@media screen and (min-width: 1316px) {
  .card {
    min-height: 325px;
    min-width: 250px;
  }
}
@media screen and (min-width: 1472px) {
  .card {
    
    min-height: 286px;
    min-width: 294px;
  }
}
