* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  overflow-x: hidden;
  background-color: #000;
  color: #f9f9f9;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  
}
